@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');
@import url('/style/reset.css');
@import url('/style/cabecalho.css');
@import url('/style/banner.css');
@import url('/style/carrossel.css');
@import url('/style/topicos.css');
@import url('/style/contato.css');
@import url('/style/rodape.css');

:root {

    --fontePrincipal: 'Poppins';
    --fonteSecundaria:'Josefin Sans';

    --corPrincipal: #ebecee;
    --corBranco: #ffffff;
    --corLaranja: #EB9B00;
    --corAzul:#002F52;
    --corPreto:#000000;
    --corCinza:#858585;
    --corCinzaEscuro:#474646;
    --corAzulDegrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

body {

    background-color: var(--corPrincipal);
    font-family: var(--fontePrincipal);
    font-weight: 400;
    font-size: 16px;
}